<h1>{{title}}</h1>
<nav class="navbar"></nav>

<!-- Home -->
<section id="home">
    <div class="main">
        <h1 class="headings"> I AM <br> Hung Phung</h1>
        <button class="btn">
            Hire Me
        </button>
    </div>
</section>

<!-- About -->
<section id="about">
    <h1 class="headings">ABOUT ME</h1>
    <div id="pic">
        <img src="images/aboutme.jpg" alt="">
        <div id="intro">
            <h2 class="headings">Hung Phung</h2>
            <p>
                <h5>
                    My name is Hung, you can also call me Cyn. I come from Sai Gon in Vietnam. Currently, I'm a final year Computer Programming student at Georgian College. This is my first portfolio, and I really enjoy it. I am a full stack, Back-end, and Front-end developer. I have learned a lot of programming languages and frameworks like C++, C#, Java, PHP, SQL, JavaScript, Node.js, Express.js, ASP.NET, MongoDB, but SQL and JavaScript are my favorite. Besides, I also have a passion for Math, even I can spend all day just solving math and researching new solutions.
                </h5>
            </p>
        </div>
    </div>
</section>

<!-- Project -->
<section id="project">
    <h1 class="headings">Projects</h1>
    <div class="gallery">
        <img src="images/p1.jpg" alt="">
        <img src="images/p2.jpg" alt="">
        <img src="images/p3.jpg" alt="">
        <img src="images/p4.jpg" alt="">
        <img src="images/p5.jpg" alt="">
        <img src="images/p6.jpg" alt="">
    </div>
</section>


<!-- Contact -->
<section id="contact">
    <h1 class="headings">CONTACT</h1>
    <form action="" class="form">
        <input type="text" name="name" class="input" placeholder="Enter your name" required>
        <input type="email" name="email" class="input" placeholder="Enter your email" required>
        <input type="text" name="phone" class="input" placeholder="Enter your phone number">
        <textarea name="msg" id="msg" cols="30" rows="10" placeholder="Enter your message" required></textarea>
        <input type="submit" value="SEND" id="send">
    </form>
</section>